{% extends 'index.html' %}

{% load i18n %}
{% block content %}
    <div style="display: flex; flex-direction: row; " >
        <div class="" style="width: 50vw;" >
            <form class="col-sm" method="post">
                <h1 class="text-left">{% trans 'Exit Point Form' %}</h1>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.tracking_difficulty_level.label_tag }}
                    {{ form.tracking_difficulty_level }}
                </div>
                <div class="form-group">
                    {{ form.wingsuit_difficulty_level.label_tag }}
                    {{ form.wingsuit_difficulty_level }}
                </div>
                <div class="form-group">
                    {{ form.rock_drop_second.label_tag }}
                    {{ form.rock_drop_second }}
                </div>
                <div class="form-group">
                    {{ form.rock_drop_altitude.label_tag }}
                    {{ form.rock_drop_altitude }}
                </div>
                <div class="form-group">
                    {{ form.landing_altitude.label_tag }}
                    {{ form.landing_altitude }}
                </div>
                <div class="form-group">
                    {{ form.lon.label_tag }}
                    {{ form.lon }}
                </div>
                <div class="form-group">
                    {{ form.lat.label_tag }}
                    {{ form.lat }}
                </div>
                <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
            </form>
        </div>
        {% include 'maxExitPoint.html' %}
    </div>

{% endblock content %}

