{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Baba</title>
</head>
<body>
{% block content %}
    <h1>Exit Point Form</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.tracking_difficulty_level.label_tag }}
        {{ form.tracking_difficulty_level }}
        {{ form.wingsuit_difficulty_level.label_tag }}
        {{ form.wingsuit_difficulty_level }}
        {{ form.rock_drop_second.label_tag }}
        {{ form.rock_drop_second }}
        {{ form.rock_drop_altitude.label_tag }}
        {{ form.rock_drop_altitude }}
        {{ form.landing_altitude.label_tag }}
        {{ form.landing_altitude }}
        {{ form.lon.label_tag }}
        {{ form.lon }}
        {{ form.lat.label_tag }}
        {{ form.lat }}

        <input type="submit" value="Create">
    </form>
{% endblock content %}

{% include 'map.html' %}
</body>
</html>