{% extends 'index.html' %}
{% load i18n %}

{% block content %}


    <h1 class="text-center">ExitPoint List</h1>
    {% for exitpoint in exitpoints %}
        <div class="text-center">
        <div class="text-center bg-info">
            <label>Name</label>
            {{ exitpoint.name }}
        </div>
        <div class="text-center">
            <label>tracking_difficulty_level</label>
            {{ exitpoint.tracking_difficulty_level }}
        </div>
        <div class="text-center">
            <label>wingsuit_difficulty_level</label>
            {{ exitpoint.wingsuit_difficulty_level }}
        </div>
        <a class="btn btn-outline-secondary text-center" href="{% url 'exitpoint_detail' exitpoint.id %}">Details</a>
        </div>
    {% endfor %}


{% endblock content %}
