{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Title</title>
</head>
<body>
{% block helper %}
<h1>Base page</h1>
<h1>Witaj {{ request.user }}!</h1>
    {{ projekt }}
    {{ trans }}
    {{ slowa }}
{% endblock helper %}
    <div class="container">
        {% block content %}

        {% endblock %}
    <p><a href="{% url 'logout' %}">logout</a></p>
    </div>

{% block app %}
<p><a href="{% url 'exitpoint' %}">add exit point</a></p>


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% for lang in languages %}
<li>
    <a href="/{{ lang.code }}/">
        {{ lang.name_local }}
    </a>
</li>
{% endfor %}
{% endblock app %}


{#<form action="{% url 'contact' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <button type="submit">Wyslij email</button>#}
{#</form>#}

</body>
</html>