{% load i18n %}
<h1>{% trans "Register" %}</h1>

    <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            <p>{{ field }}</p>
                {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
                {% endif %}
        {% endfor %}
        {{ form.error.username }}
    <input type="submit" value="Register">
    </form>
<a href={% url 'login' %}>Login</a>
